table h1{
    text-align: center;
}

.container h1{
    margin: 5% 5% 2% 5%;
    color: black;
    font-weight: bolder;
}



.add{
    margin: 0px 5%;
    padding: 10px 20px;
    background-color: green;
    color: white;
    font-weight: bolder;
    width: 20%;
}


 table{
    width: 80%;
    text-align: center;
    font-size: 20px;
    margin-top: 5%;
    /* border-collapse:collapse ; */
    border:2px solid black;
    margin: 2% 5%;
}

thead{
    border-bottom:2px solid black ;
}

 th{
    color: black;
    font-weight: bolder;
    /* border-bottom: 4px solid orange; */
}

 tr{
    background-color: #eee;
    border: 2px solid black;
}
 td{
    padding: 9px;
    /* border:1px solid black; */
}

tr:nth-child(even){
    background-color: royalblue;
}

tfoot td{
    padding: 15px;
   
}



h1{
    margin: 5% 5% 2% 5%;
    color: black;
    font-weight: bolder;
}

.box{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.input{
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* font-size: 20px; */
    margin: 0% 5% 2% 5%;
    width: 25%;
}

 label{
    font-weight: bolder;
    font-size: 20px;
}


input{
    padding: 10px 20px;
}


.cancel{
   
        margin: 10px 5%;
        padding: 10px 10px;
        background-color: green;
        color: white;
        font-weight: bolder;
        width: 10%;
}


.notification{
    display: flex;
    flex-direction: row;
}
.notification img{
    width: 5%;
    height: 20px;
}

.text{
    margin: 5%;
}


.remove{
    font-size: 18px;
    color: white;
    background-color: green;
}


.container-books{
    width: 100%;
}



.send{
    width: 10%;
    padding: 10px ;
    margin-left: 10%;
    background-color: green;
    color: white;
}

.buttons{
    display: flex;
    flex-direction: column;
}



.buttons button{
    margin: 0px 5%;
    padding: 10px 20px;
    background-color: green;
    color: white;
    font-weight: bolder;
    width: 20%;
}


.buttons label{
    margin: 0px 5%;
    padding: 10px 20px;
}


.buttons select{
    margin: 0px 5%;
    padding: 10px 20px;
    background-color: green;
    color: white;
    font-weight: bolder;
    width: 10%;
}

.buttons select option{
    margin: 0px 5%;
    padding: 10px 20px;
    background-color: green;
    color: white;
    font-weight: bolder;
    width: 10%;
}


.searchBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0px 100px;
}

.labels select{
    margin: 20px 20px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    font-weight: bolder;
    width: 40%;
   
}

.labels select option{
    margin: 0px 5%;
    padding: 10px 20px;
    background-color: green;
    color: white;
    font-weight: bolder;
    width: 10%;
}

